.wrapper{
    display: flex;
    background-color: #ccbeb1;
    width: 100%;
    flex: 1 1;
    gap: 10px;
}
.mushroomWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 10px;
}
